BINANCE_PAY_API_KEY=
BINANCE_PAY_SECRET=
BINANCE_PAY_HOST=https://bpay.binanceapi.com
REDIRECT_BASE_URL=
COIN=USDT
PORT=5000
BINANCE_SAPI_HOST=https://api.binance.com
BINANCE_SPOT_API_KEY=
BINANCE_SPOT_API_SECRET=
